<footer class="footer" data-background-color="dark">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://Kazem-ma79.GitHub.io/pdns">
                        GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.powerdns.com/">
                        pDNS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.themekita.com">
                        ThemeKita
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            2020, made with <a href="https://www.themekita.com">ThemeKita</a> For <a href="https://www.powerdns.com/"> POWER DNS</a>
        </div>
    </div>
</footer>